@charset "UTF-8";

:root {
    --amarelo-detalhes: #F2DA6D;
    --cor-clara: #EDEDED;
    --azul: #9FB3BF;
    --cinza: #c5ced5;
    --tom-escuro: #8798a3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --variavel: 270px;
    --fonteh1: 'Anton', sans-serif;
    --transform-value: 60px;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
section.section {
    min-height: 100vh;
}
section.section:nth-child(odd) {
    background-color: #FFF;
}
footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-style: italic;
}
footer a {
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #000;
    color: #FFF;
    position: fixed;
    width: 100%;
    z-index: 3;
}
span.material-symbols-outlined {
    font-size: 4rem;
}
section.home-section {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background-degrade {
    background-image: linear-gradient(to top right, var(--cor-clara), var(--azul));
}
main h1 {
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    font-size: 6rem;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: #FFF;
    line-height: 6rem;
    text-align: center;
}
.home-section p {
    color: #ffffff;
    font-size: 1.4rem;
    margin-top: 2rem;
    text-align: center;
}
p.line {
    width: calc(var(--variavel) + 10px);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}
.typing-animation {
    animation: typing 4s steps(40) , blink 500ms steps(40) infinite;
}
.svg-icons {
    fill: #ff0000;
}
.svg-icons img {
    width: 5rem;
    margin-right: 1rem;
}
.svg-div {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 8rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    display: none;
}
.arrow-down {
    width: 40px;
    transform: translateY(var(--transform-value));
    border-radius: 50%;
    padding: 5px 7px 3px 7px;
    background-color: var(--amarelo-detalhes);
    transition: .3s ease-in-out;
    animation: piscar 1s infinite;
}
.arrow-down:hover {
    cursor: pointer;
    background-color: #ffffff;
    animation-play-state: paused;
}
img.svg {
    width: 5rem;
    animation: rotation 1.2s;
}
span:hover {
    cursor: pointer;
}


.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    display: none;
}
.nav-menu ul li a {
    position: relative;
    padding-bottom: .2rem;
    font-family: 'Roboto', sans-serif;
}
.nav-menu ul li a::after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--cinza);
    position: absolute;
    left: 0;
    bottom: 0;
}
.nav-menu ul li a:hover::after {
    width: 100%;
    transition: .3s ease-out;
}
.hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 0rem;
    text-align: center;
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 4;
}
.hidden ul {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    width: 100%;
}
.hidden ul li {
    list-style: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid black;
    /* width: 20rem; */
    width: 100%;
    padding: 1rem;
}
.hidden ul li a {
    color: rgba(253, 251, 251, 0.805);
}
.hidden span {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: red;
}
div.svg-icons img {
    background-color: var(--cor-clara);
    border-radius: 50%;
    padding: 1px;
}
div.svg-icons img:hover {
    padding: 3px;
}
div.svg-icons img:active {
    background-color: #808080;
}
ul li a:active {
    color: #808080;
}



/* SEGUNDA SECTION */
section.whoAmI {
    /* background-image: ; */
    background-color: var(--cor-clara);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.whoAmI p {
    text-indent: 0rem;
}
div.dados {
    text-align: justify;
    /* justify */
    padding: 0;
}
h2 {

    text-transform: uppercase;
    text-align: center;
    padding: .5rem;
    font-family: var(--fonteh1);
    font-size: 5rem;
    font-weight: normal;
    padding-bottom: 4rem;
}
section.whoAmI h2 {
    padding-bottom: 1rem;
}
div.foto {
    /* width: 25rem; */
    /* height: 25rem; */
    /* border-radius: 50%; */
    /* background-color: red; */
    text-align: center;
}
.minha-foto {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px black;
}

/* SECTION EXPERIÊNCIA */

.experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-clara);
}
.experience {
    max-width: 700px;
    background-color: var(--amarelo-detalhes);
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.587)757;
    text-align: center;
}
.workana-logo {
    width: 160px;
    background: none;
    border: 2px solid #000000e7;
    padding: 2px;
    border-radius: 5px;
}
.workana-logo:hover {
    width: 165px;
    transition: .2s;
}
.p-workana {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


/* TERCEIRA SECTION */
section.skills {
    /* background-image: ; */
    background-image: linear-gradient(to bottom, var(--cor-clara), var(--azul));
    padding-bottom: 2rem;
}
.skills h2 {
    padding-top: 20px;
}
.grid {
    /* background-color: #f0e5b7; */
    width: 90%;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
div.curso {
    height: 250px;
    background-color: rgb(0, 0, 0);
    border: 2px solid #ffffffb3;
    border-radius: 10px;
    color: #fff;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.curso:hover {
    transform: translatey(-10px);
    transition: .2s ease-in-out;
    border-color: #05b505a9;
}
.curso.incompleto:hover {
    border-color: rgba(255, 0, 0, 0.71);
}
.tipo {
    padding: 10px;
}
.nome {
    padding: 30px 5px 0px 30px;
    font-size: 3rem;
    font-weight: normal;
    font-family: var(--fonteh1);
}
.nome a:hover {
    text-decoration: underline; 
}
.fornecedor {
    padding: 10px 20px 0px 30px;
    font-size: 1.5rem;
    font-family: var(--fonteh1);
    font-style: italic;
    text-align: right;
}
.estado {
    text-align: center;
    width: 100%;
    border-radius: 0px 0px 6px 6px;
    padding: 3px;
    margin: auto;
    background-color: var(--cor-clara);
    color: #05b505;
    font-style: italic;
    position: absolute;
    bottom: 0;
}
.cursando {
    color: #ff0000;
}
.pt-0 h4 {
    padding-top: 0px;
}

section.projetos {
    background-image: linear-gradient(to bottom, var(--azul), var(--tom-escuro));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projetos h2 {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.projetos p {
    text-align: left;
}
.projetos div.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-bottom: 4rem;
    background-color: #ffffffbf;
    padding: 1rem;
    width: 93%;
    max-width: 900px;
    border-radius: 2rem;
    color: #000000;
}
.project {
    width: 100%;
    min-width: 20rem;
    max-width: 40rem;
    height: 30rem;
    background-color: #FFF;
    border-radius: 10px;   
    background-image: url(imgs/miniatura/gera-cpfs.png);
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 0px 4px #61606051;

}
.project-data {
    width: 90%;
    min-width: 20rem;
    max-width: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-data h4 {
    font-size: 3rem;
    font-family: var(--fonteh1);
    font-weight: normal;   
}
.projetos a {
    /* text-decoration: underline; */
    font-weight: bold; 
}
a.visitar-site {
    /* background: none; */
    background-color: #000;
    border: 3px solid #000000;
    color: #ffffff;
    padding: .6rem;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 5px;
}
.visitar-site:hover {
    color: #ffffffcf;
}
.project-2 {
    background-image: url(imgs/miniatura/doceria.png);
    background-position: left bottom;
}
.project-3 {
    background-image: url(imgs/miniatura/whatsapp.png);
    background-position: left bottom;
}
.project-4 {
    background-image: url(imgs/miniatura/google-clone.png);
    background-position: left bottom;
}
.project-5 {
    background-image: url(imgs/miniatura/gerador-de-senhas.png);
}
.project-6 {
    background-image: url(imgs/miniatura/lista-tarefas.png);
}
.contato h2 {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.contato p {
    text-align: center;
    margin-bottom: 2rem;
}
.contato a {
    display: block;
    text-align: center;
    width: 100px;
    padding: .5rem;
    background-color: #000000ef;
    color: #606060;
    margin: .5rem;
    border-radius: 2rem;
    border: .3rem solid #000;
}
.contato a:hover {
    background: none;
    transition: .6s;
    color: #000;
    background-color: var(--amarelo-detalhes);
}
.contato div {
    display: flex;
    margin: 1.1rem auto;
    justify-content: center;
    align-items: center;
}
.negrito {
    font-weight: bold;
    cursor: none;
}
.fallout {
    width: 300px;
    height: 300px;
}
.contato img {
    width: 150px;
    margin-top: 3rem;
}









section.section.contato {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-shadow {
    /* width: fit-content; */
    width: 100%;
    max-width: 450px;
    padding: 2rem;
    box-shadow: 0px 0px 4px var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza);
}



/* ANIMAÇÕES */

 @keyframes typing {
    from {
        width: 0px;
        background-color: var(--azul);
    }
    to {
        width: calc(var(--variavel) + 10px);
    }
} 
@keyframes blink {
    from {
        border-right-color: #ffffffbf;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes rotation {
    from {
        transform: rotate(350deg) scale(1.3);
    }    
    to {
        transform: rotate(0deg) scale(1.0);
    }
}
@keyframes piscar {
    from {
    transform: translateY(var(--transform-value));
    }
    to {
    transform: translateY(80px);
    }
}





/* MEDIA QUERIES */
@media (min-width:350px) {
    :root {
        --variavel: 310px;
    }
    main h1 {
        font-size: 8rem;
        line-height: 8rem;
    }
    .home-section p {
        font-size: 1.6rem;
    }
    span.material-symbols-outlined {
        font-size: 3.5rem;
        margin-right: 1rem;
    }
    img.svg {
        width: 6rem;
    }
    .projetos div.container {
        padding: 2rem;
    }
   
}
@media (min-width: 576px) {
    .nav-menu {
        position: fixed;
        width: 100%;
        padding: 1rem;
    }
    span.material-symbols-outlined {
        font-size: 3.5rem;
        margin-right: 1rem;
    }
    .projetos div.container {
        padding: 2rem;
        max-width: 550px;
    }

}
@media (min-width: 768px) {
    section.whoAmI {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    div.foto {
        text-align: center;
    }
    .minha-foto {
        width: 30rem;
        height: 30rem;
    }
    section.whoAmI {
        text-align: center;
    }
    .whoAmI p {
        max-width: 40rem;
    }
    .whoAmI h2 {
        text-align: center;
        max-width: 40rem;
    }
    .whoAmI div {
        width: 50%;
    }


}

@media (min-width: 992px) {
    .experience {
    font-size: 21px;
    }
    .whoAmI {
        background-size: cover;
    }
    section.whoAmI {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .whoAmI h2 {
        max-width: 45rem;
        font-family: var(--fonteh1);
        font-size: 5rem;
        font-weight: normal;
    }
    .whoAmI p {
        max-width: 65rem; 
        /* 45rem */
        font-size: 2.1rem;
        text-align: justify;
        margin-bottom: 1.5rem;
    }
    .whoAmI div {
        width: 40%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .whoAmI div:nth-child(2) {
        width: 60%;
    }
    .projetos h2 {
        padding-top: 2rem;
    }
    .projetos div.container:nth-child(even) {
        flex-direction: row;
    }
    .projetos div.container:nth-child(odd) {
        flex-direction: row-reverse;
    }
    .projetos div.container {
        max-width: 950px;
    }
}
@media (min-width: 1200px) {
    :root {
        --variavel: 340px;
    }
    .home-section p {
        font-size: 1.9rem;
    }
    .nav-menu {
        display: flex;
        /* background-color: #331610; */
        position: fixed;
        width: 100%;
        padding: 1rem;
        font-family: 'Work Sans';
    }
    main h1 {
        font-size: 10rem;
        line-height: 10rem;
    }
    span.material-symbols-outlined-menu {
        display: none;
    }
    .nav-menu ul li {
        margin-right: 1.5rem;
    }
    .nav-menu ul {
        display: flex;
    }
    .minha-foto {
        width: 40rem;
        height: 40rem;
    }

   
}







