@charset "UTF-8";

@media all and (max-width: 768px) {
    div.img-text {
        flex-direction: column !important;
        gap: 3rem;
    }
}
@media screen and (max-width: 638px) {
    .menu {
        display: block;
    }
    header .div-p-menu {
        display: none;
    }
    header {
        justify-content: space-between;
    }
}
 @media all and (max-width: 558px) {
    h1 {
        font-size: 25rem;
    }
    h2.menu-h2 {
        font-size: 8rem;
    }
}
 
@media all and (max-width: 445px) {
    h1 {
        font-size: 20rem;
    }
    h2.menu-h2 {
        font-size: 6rem;
    }
    div.img-text img {
        width: 93%;
        height: 30rem;
    }
    header .header-el img {
        width: 2rem;
    }
    .home-section {
        min-height: 100vh;
    }
}
@media all and (max-width: 389px) {
    h1 {
        font-size: 18rem;
    }
    
}
@media all and (max-width: 315px) {
    div.img-text img {
        width: 95%;
        height: 27rem;
    }
    div.img-text p, div.img-text h2 {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    div.container {
        width: 95%;
        height: 30rem;
    }
}

